
.main-headingA {
    width: 375px;
    height: 812px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 25px 43px 0px rgba(0, 0, 0, 0.12);
}

.main-headingB {
    width: 360px;
    height: 54px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: var(--White, #FFF);
}

.main-heading2A {
    width: 360px;
    height: 54px;
    flex-shrink: 0;
    border: 1px solid #000;
    background: var(--White, #FFF);
}

.main-heading2B {
    width: 375px;
    height: 812px;
    flex-shrink: 0;
    border-radius: 30px;
    background: #FFF;
    box-shadow: 0px 25px 43px 0px rgba(0, 0, 0, 0.12);
}
